<h1>Coachings#answer</h1>
<p>Find me in app/views/coachings/answer.html.erb</p>
<div>
  <p>My question: <%= @query %></p>
  <p>My coach answer: <%= @answer %></p>

</div>

<%= link_to "Ask a new question", ask_path %>
